@using StudentSystemMvc.Models.EntityFramework
@model List<Tbl_Lessons>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="table table-bordered">
    <tr>
        <th>LESSON ID</th>
        <th>LESSON NAME</th>
        <th>TRANSACTIONS</th>
    </tr>
    <tbody>
        @foreach(var lssn in Model)
        {
            <tr>
                <td>@lssn.LessonID</td>
                <td>@lssn.LessonName</td>
                <td><a href="/Default/Delete/@lssn.LessonID" class="btn btn-danger">DELETE</a><a href="/Default/GetLesson/@lssn.LessonID" class="btn btn-warning" style="margin-left:15px">UPDATE</a></td>

            </tr>
        }
    </tbody>
</table>

<a href="/Default/AddLesson" class="btn btn-primary">Add new lesson</a>
