
@{
    ViewBag.Title = "AddNote";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form method="post" class="form-group">
    <div>
        <label>Student ID</label>
        <input type="text" class="form-control" name="StudentID" />
    </div>

    <div style="margin-top:10px">
        <label>Lesson</label>
        <input type="text" class="form-control" name="LessonID" />
    </div>

    <div style="margin-top:10px">
        <label>Exam 1</label>
        <input type="text" class="form-control" name="Exam1" />
    </div>

    <div style="margin-top:10px">
        <label>Exam 2</label>
        <input type="text" class="form-control" name="Exam2" />

    </div>

    <div style="margin-top:10px">
        <label>Exam 3</label>
        <input type="text" class="form-control" name="Exam3" />

    </div>

    <div style="margin-top:10px">
        <label>Project</label>
        <input type="text" class="form-control" name="Project" />

    </div>

    <div style="margin-top:10px">
        <label>Avarage</label>
        <input type="text" class="form-control" name="Avarage" />

    </div>

    <div style="margin-top:10px">
        <label>Status</label>
        <input type="text" class="form-control" name="Status" />

    </div>

    <div style="margin-top:10px">
        <button class="btn btn-primary">Add Note</button>
    </div>
</form>

