@using StudentSystemMvc.Models.EntityFramework
@model List<Tbl_Clubs>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="table table-bordered">
    <tr>
        <th>CLUB ID</th>
        <th>CLUB NAME</th>
        <th>TRANSACTIONS</th>
    </tr>
    <tbody>
        @foreach (var club in Model)
        {
        <tr>
            <td>@club.ClubID</td>
            <td>@club.ClubName</td>
            <td><a href="/Clubs/Delete/@club.ClubID" class="btn btn-danger">DELETE</a><a href="/Clubs/Update/@club.ClubID" class="btn btn-warning" style="margin-left:15px">UPDATE</a></td>
        </tr>       
        }

    </tbody>
</table>

<a href="/Clubs/AddClub" class="btn btn-primary">Add new club</a>

