@using StudentSystemMvc.Models.EntityFramework
@model List<Tbl_Clubs>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="table table-bordered">
    <tr>
        <th>CLUB ID</th>
        <th>CLUB NAME</th>
    </tr>
    <tbody>
        @foreach (var club in Model)
        {
            <tr>
                <td>@club.ClubID</td>
                <td>@club.ClubName</td>
            </tr>       
        }

    </tbody>
</table>

